.oscillator {
    width: 85%;
    min-height: 25%;
    margin: 0 auto;
    background: rgb(255,255,255);
    border: solid 3px rgb(13, 94, 175);
    color: rgb(13, 94, 175);
    border-radius: 5px;
    
}
.control {
    
    width: 85%;
    min-height: 55%;
    margin: 0 auto;
    background: rgb(255,255,255);
    border: solid 3px rgb(13, 94, 175);
    color: rgb(13, 94, 175);
    border-radius: 5px;
    ;
}
.seq {
    margin-top: 20%;
    display: block;
    float: left;
    width: 75%;
    height: 100%;
    border-right: 1px solid gray;
    padding: 10px;
}
.adsr {
    display: block;
    float: right;
    width: 20%;
    height: 100%;
    padding: 10px;
}
.synth {
    
    height: 100vh;
}