.oscillator {
    display: flex;
    width: 85%;
    min-height: 25%;
    margin: 0 auto;
    background: rgba(255, 252, 246, 1);
    border: solid 3px rgba(3, 68, 136, 1);
    color: rgba(3, 68, 136, 1);
    border-radius: 5px;
    
}
.control {
    width: 85%;
    min-height: 55%;
    margin: 0 auto;
    background: rgba(255, 252, 246, 1);
    border: solid 3px rgba(3, 68, 136, 1);
    color: rgb(13, 94, 175);
    border-radius: 5px;
    display:flex;
    min-width: 540px;
}
.seq {
    display: block;
    float: left;
    width: 75%;
    height: 100%;
    border-right: 1px solid gray;
    padding: 10px;
}
.adsr {
    display: block;
    float: right;
    width: 22%;
    min-width: 130px;
    height: 100%;
    padding: 2px;
    
}
.adsr p {
  text-align: center;
  font-weight: 600;
  letter-spacing: 5px;
}
.synth {
    padding-top: 50px;
    background: rgba(237, 236, 232, 1);
    height: 100vh;
}
#bpm {
    text-align: center;
    font-size: 0.9rem;
    padding: 0;
    width: 3rem;
    height: 2rem;
    margin: 0 5px 0 5px;
    color: rgba(237, 236, 232, 1);
    background: rgba(3, 68, 136, 0.8);
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px #000;
}

/* VALUE PICKER */
.radio-container input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    margin: 1px;
    transition: 0.3s;
    border: 5px solid green;
}
.radio-container {
    color: rgba(237, 236, 232, 1);
    text-align: center;
    margin: 2px;
    margin-top: -22px;
    font-size: 0.7rem;
    margin: 1px;
}
.radio-checkmark {
    display: block;
    height: 35px;
    min-width: 2rem;
    border: 1px solid black;
    background-color: rgba(3, 68, 136, 1);
    border-radius: 20%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    
}
.radio-container:hover input ~ .radio-checkmark {
    background-color: rgba(204, 221, 232, 1);
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
background-color: rgba(204, 221, 232, 1);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
width: 8px;
height: 8px;
border-radius: 50%;
background: transparent;
}
.radio-label {
    position: absolute;
    margin: 5px 0 0 -12px;
    cursor: pointer;
    /* border: 1px solid red; */
}
/* VALUE PICKER END */

.play-button {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 900;
    height: 2rem;
    width: 3rem;
    transform: translateY(-1px);
    color: rgba(237, 236, 232, 1);
    background: rgba(3, 68, 136, 0.8);
    padding: none;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px #000;
    transition: 0.3s;
    margin-right: 10px;
}
.pause-button {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 900;
    height: 2rem;
    width: 3rem;
    transform: translateY(-1px);
    background: rgba(237, 236, 232, 1);
    color: rgba(3, 68, 136, 0.8);
    padding: none;
    border: 0.5px solid rgba(3, 68, 136, 0.8);
    border-radius: 3px;
    transition: 0.3s;
    margin-right: 10px;
}

/* LENGTH SWITCH */
.length-switch {
    position: relative;
    display: block;
    float: right;
    width: 80px;
    height: 20px;
    margin-left: 8px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px #000;
  }
  
  .length-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(3, 68, 136, 0.8);
    -webkit-transition: .4s;
    transition: .4s;
    color: white;
    padding-left: 23px;
    font-size: 0.9rem;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: rgba(237, 236, 232, 1);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider:before {
      background-color: rgba(3, 68, 136, 0.8);
  }
  
  input:checked + .slider {
    background-color: rgba(237, 236, 232, 1);
    color: rgba(3, 68, 136, 0.8);
  }
  
  input:focus + .slider {
    box-shadow: 0 2px 1px rgba(237, 236, 232, 1);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(58px);
    -ms-transform: translateX(58px);
    transform: translateX(58px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 100px;
  }
  
  .slider.round:before {
    border-radius: 100%;
  }
  /* LENGTH SWITCH END*/

  /* ADSR */
  .adsr-sliders {
    display:flex;
    padding: 5px;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .adsr-slider span{
    font-size: 0.8rem;
  }
  .slider-wrapper {
    display: block;
    width: 20px;
    height: 150px;
    margin: 0 auto;
    padding: 0;
    background: rgba(3, 68, 136, 0.7);
    border-radius: 25px;
    
  }
  .slider-wrapper input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
    
  }
  .master-slider {
    height: 25px;
    padding: 0;
    border: 1px solid rgba(3, 68, 136, 0.7);
    border-radius: 25px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
  }
  .master-slider input {
    margin: 5px 3px 15px; 
    width: 95%;
  }
  /* ANALYSER */
  #analyser {
    border: 1px solid rgba(237, 236, 232, 1);
    background: rgba(204, 221, 232, 1);
    margin: 10px 0 0 10px;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    opacity: 0.9;
    box-shadow:  2px 2px #000;
  }
  #partch {
    border: 1px solid rgba(237, 236, 232, 1);
    height: 130px;
    width: 150px;
    position: absolute;
    margin: 15px 0 0 10px;
    opacity: 0.6;
    animation: opacity-fade 6s infinite;
  }
  @keyframes opacity-fade {
    0% {opacity: 0;}
    50% {opacity: 0.4}
    100% {opacity: 0;}
  }

  #sustain-button {
    border-radius: 15px;
    font-size: 2rem;
    padding: 1px;
    margin: 10px 0 13px 10px;
    background: rgba(204, 221, 232, 1);
    color: rgba(3, 68, 136, 1);
    box-shadow: 2px 2px #000;
    cursor: pointer;
  }
  #sustain-button:active {
    box-shadow: none;
  }

  .wave-selector {
    padding: 20px;
    text-align: center;
  }
  .wave-selector select {
    display: block;
    margin: 10px 0 20px 0;
    background: rgba(3, 68, 136, 0.6);
    color: white;
  }

  .reverb {
    background: rgba(237, 236, 232, 1);
    position: absolute;
    margin: -20px 0 0 28%;
    text-align: center;
    border: 1px solid black;
    box-shadow: 2px 2px #000;
  }
  .reverb::before {
    position: absolute;
    content: "";
    height: 100%;
    width:73%;
    background: black;
    z-index: 20;
    clip-path: polygon(100% 6.9%, 91% 6.9%, 91% 0);
  }
  .reverb-sliders span {
    padding: 15px;
  }
  .reverb-sliders {
    display: flex;
    margin-bottom: 10px;
    
  }
  .reverb .slider-wrapper {
    margin: 0 auto;
    z-index: 20;
  }
  .recorder-playback audio {
    height: 50px;
    border-radius: 0;
    width: 300px;
  }
  .recorder {
    margin: 20px 0 0 23%;
  }
  .recorder-controls button {
    width: 300px;
    height: 50px;
    margin: 15px 0 0 0;
    font-size: 1.3rem;
    letter-spacing: 5px;
  }
  .recorder-record {
    background: rgba(3, 68, 136, 0.6);
    color: rgba(255, 252, 246, 1);
    border: 1px solid black;
    box-shadow: 2px 2px #000;
    transition: 0.3s;
  }
  .recorder-stop {
    background: tomato;
    color: rgba(255, 252, 246, 1);
    transition: 0.3s;
  }
  .recorder-logo {
    display: none;
  }
  #lindos-synth-logo {
    height: 100px;
    width: auto;
    margin: 35px 5px 0 20px;
  }
  
  .fract-wrapper {
    position:absolute;
    content: '';
    margin: 0 0 0 10px;
    width:150px;
    height:150px;
    z-index: 5;
    overflow: hidden;
  }
  
  .fract-wrapper .layer1,
  .fract-wrapper .layer2 {
    position:absolute;
    top:0px;
    left:0px;
    width:99%;
    height:100%;
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
  }
      
  .fract-wrapper .layer1,
  .fract-wrapper .layer1 * {
    /* background:rgba(237, 236, 232, 0.6); */
    border: 0.5px dashed grey;
    border-radius: 15%;
  } 
  
  
  .fract-wrapper .layer1 *,
  .fract-wrapper .layer2 * {
      display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
      width:80%;
      height:80%;
      margin-left: 4px;
  } 
 
  
  
  
  /* --------- Animation --------- */
  .fract-wrapper .layer1,
  .fract-wrapper .layer1 * {
      animation-name: spin-clockwise;
      animation-duration: 60s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.82, 0.24, 0.25, 0.75);
      box-shadow:inset 0 2px 12px rgba(255,255,255,0.8);
  }
  
  
  /* Animation: Clockwise */
  @keyframes spin-clockwise {
      0%   { -webkit-transform: rotate(0deg);   }
      100% { 
        -webkit-transform: rotate(720deg); 
      }
  }
  
  
  /* MEDIA QUERIES */
  @media only screen and (min-width: 1440px) {
    .oscillator, .control {
      
      max-width: 1200px;
    }
    .oscillator {
      margin-top: 70px;
      min-height: 150px;
    }
    .control {
      min-height: 450px;
    }
    .reverb {
      margin: -20px 0 0 300px;
    }
  }
  @media only screen and (max-width: 1245px) {
    .oscillator {
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .scope {
      display: none;
    }
    .reverb {
      position: relative;
      margin: 0;
    }
    .reverb::before {
      display: none;
    }
    .recorder-playback audio {
      width: 80%;
      height: 30px;
    }
    .recorder-controls button {
      width: 80%;
      height: 30px;
    }
    .recorder {
      margin: 10px;
      padding: 30px 0 0 0;
      display: flex;
      flex-direction: column;
      align-content: flex-end;
    }
    .recorder-logo {
      display: block;
      margin: -35px 0 0 -35px;
      overflow: hidden;
      transform: scale(0.75);
    }
    .logo {
      display: none;
    }
  }
  @media only screen and (max-width: 640px) {
    .oscillator {
      flex-direction: column;
      align-items: center;
    }
    .scope {
      display: block;
    }
    #sustain-button {
      width: 80%;
    }
    .recorder {
      display: none;
    }
    .control {
      display: none;
    }
    .reverb {
      display: none;
    }
  }
  
  

  